@import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/daygrid/main.css';
@import '~@fullcalendar/timegrid/main.css';
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
  background-color: #f2f2f2;
}


a {
  color: #333;
  text-decoration: none;
}

#footer {
  position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   text-align: center;
}

.headerStyle {
  font-family: Georgia 
}

.footerStyle {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.bg-primaryColor{
  background-color: rgb(23, 179, 227);
  /* background-color: rgba(91, 97, 99, 0.945); */
}

.bg-secondaryColor{
  background-color: rgb(243, 161, 8);
  color: white;
  border: none;
}

.bg-secondaryColor:hover{
  background-color: rgba(226, 151, 12, 0.966);
}

#login {
  color: white;
  height: 375px;
}

.mrg {
  margin-top: 6%
}

.registerText{
  font-size: 13px;
  color: white;
}

.registerText:hover{
  color: rgb(243, 161, 8);
  text-decoration: none;
}

#register {
  color: white;
  height: auto;

}

th{
  font-weight: normal;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.taken {
  background-color: rgb(231, 192, 187)
}

.free {
  background-color: rgb(193, 233, 169)
}

.react-date-picker__wrapper {
  padding-bottom: 4px;
  padding-top: 4px;
}

.fc-event {
  position: relative;
  /* for resize handle and other inner positioning */
  display: block;
  /* make the <a> tag block */
  font-size: 0.85em;
  line-height: 1.4;
  border-radius: 3px;
  border: 1px solid rgba(238, 152, 23, 0.849);
}

.fc-event,
.fc-event-dot {
  background-color: rgba(238, 152, 23, 0.849);
  /* default BACKGROUND color */
}
.fc-time {
  text-align: center;
  font-weight: bold;
  color: black;
  border-bottom: 1px solid white;
}

.fc-title {
  color: black;
}

.fc-widget-content {
  font-weight: normal;
  color: #212529;
}